.picture {
    width: 20%;
    margin-left: 15rem;
    margin-bottom: 5%;
}

h3 {
    color: #898b8a;
}
.textAboutMe{
    margin: auto;
}
.AboutMe {
    color: black;
    margin-left: 80px;
    width: 50rem;
    text-align: justify;
    /*border: 3px solid #73AD21;*/
}

p {
    color: black;
}

.icon {
    width: 2rem;
    margin: 1rem;
    filter: grayscale();
    padding-bottom: 30px;
}

.icon:hover {
    filter: none;
}

@media only screen and (max-width: 1000px) {
    .picture {
        width: 20%;
        height: 10%;
        margin-left: 15%;
        margin-bottom: 5%;
    }

    .AboutMe {
        margin-left: 4rem;
        text-align: justify;
        margin-right: 4rem;
    }

    @media only screen and (max-width: 1500px) {
        .picture {
            width: 15rem;
            margin-bottom: 5%;
        }
    }
}
