.card-row {
    margin-bottom: 5%;
}
.row{
    justify-content: space-evenly;
}
.card-row:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
    .card-row {
        justify-content: space-evenly;
        width: 15rem !important;
    }

    @media only screen and (max-width: 1600px) {
        .card-row {

           /*margin: auto;*/
           /* margin-top: auto;*/
            margin-bottom: 20%;
            /*margin-right: auto;*/
            /*margin-left: auto;*/
            width: 70% !important;
        }
    }
}
